body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

button {
  margin: 30px;
  padding: 20px;
}

h4 {
  font-size: 2em;
  margin: 0 auto;
  padding: 30px;
  color: #BDD9D0;
}

.s1-btn-icon {
  padding: 15px;
}

.s2-text {
  font-size: .8em;
  color: #BDD9D0;
}

.s2-btn {
  white-space: normal;
  max-width: 6em;
  min-width: 6em;
  min-height: 6em;
}

.s2-btn-icon {
  padding: 15px;
}

.s3-btn {
  /* margin: 0 auto; */
  border: none;
  background: transparent;
  max-height: 7em;
}

.s3-btn-img {
  max-height: 7em;
}

.s3-text {
  color: #BDD9D0;
}
